body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #054e26
}
h1 {
    color: #4CAF50;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
}

button:hover {
    opacity: 0.9;
}

button:first-of-type {
    background-color: #4CAF50;
    margin-left: 10px;
}
.delete-btn {
    background-color: #A5B68D; 
    color: white;
}

.delete-btn:hover {
    background-color: #A5B68D;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    word-wrap: break-word;
    white-space: normal;
    max-width: 300px;
    background-color: #f4f4f4;
}